{% macro list_ligne_motif(ligne) %}
    <div class="row-line">
{#{{ dump(ligne.children.fichier.vars.data[0][0]) }}#}
        <div class="card border-success mb-3" >
            <div class="card-body bg-warning text-success">
                <div class="row">
                    <div class="form-group col-md-6">{{ form_row(ligne.element,{'attr':{'class':'form-control element'}}) }}</div>
                    <div class="form-group col-md-6">{{ form_row(ligne.nomEnfant,{'attr':{'class':'form-control enfant','placeholder':"Precisez le nom de l'enfant",}}) }}</div>
                </div>
                <div class="row ">
                    <div class="form-group col-md-12">{{ form_row(ligne.precisez,{'attr':{'class':'form-control precisez','placeholder':"Donnez un justification",}}) }}</div>
                </div>

            </div>
            {#<div class="card-footer bg-transparent border-success" style="height: 45px;">
                <div class="row">
                    <div class="form-group col-md-11"></div>
                    <div class="form-group col-md-1 del-col offset-12">

                    </div>
                </div></div>#}
            {#<div class="card-footer bg-transparent border-success">Footer</div>#}
        </div>
          {#  <div class="form-group col-md-3">{{ form_row(ligne.nomEnfant,{'attr':{'class':'enfant'}}) }}</div>
            <div class="form-group col-md-2">{{ form_row(ligne.fichier,{'attr':{'class':'enfant'}}) }}</div>

        <div class="form-group col-md-3">{{ form_row(ligne.precisez,{'attr':{'class':'precisez'}}) }}</div>
        <div class="form-group col-md-1 del-col">

        </div>#}
    </div>
    <div class="row">

    </div>

{% endmacro %}

{% macro list_ligne_motifs(ligne) %}
    <div class="row-line">
        <div class="row">
           {# <div class="form-group col-md-6">{{ form_row(ligne.element) }}</div>#}
            <div class="form-group col-md-12">{{ form_row(ligne.fichier) }}</div>
        </div>
    </div>


{% endmacro %}




{% macro list_ligne_avis(ligne) %}
    <div class="row-line_avis">
        <div class="card border-success mb-3" >
            <div class="card-body bg-warning text-success">
                <div class="row">
                    <div class="form-group col-md-12">{{ form_row(ligne.element) }}</div>
                </div>
                <div class="row ">
                    <div class="form-group col-md-12">{{ form_row(ligne.justification) }}</div>

                </div>

            </div>
           {# <hr>#}
            <div class="card-footer bg-transparent border-success" style="height: 45px;">
                <div class="row">
                    <div class="form-group col-md-11"></div>
                    <div class="form-group col-md-1 del-col_avis offset-12">

                    </div>
                </div></div>
        </div>
        {#  <div class="form-group col-md-3">{{ form_row(ligne.nomEnfant,{'attr':{'class':'enfant'}}) }}</div>
          <div class="form-group col-md-2">{{ form_row(ligne.fichier,{'attr':{'class':'enfant'}}) }}</div>

      <div class="form-group col-md-3">{{ form_row(ligne.precisez,{'attr':{'class':'precisez'}}) }}</div>
      <div class="form-group col-md-1 del-col">

      </div>#}
    </div>
{% endmacro %}

{% macro lignes_module_groupe(ligne) %}
    <div class="row row-line">
        <div class="form-group col-md-3">{{ form_row(ligne.module) }}</div>
        <div class="form-group col-md-3">{{ form_row(ligne.groupeModule) }}</div>
        <div class="form-group col-md-3">{{ form_row(ligne.permition) }}</div>
        <div class="form-group col-md-1">{{ form_row(ligne.ordre) }}</div>
        <div class="form-group col-md-1">{{ form_row(ligne.ordreGroupe) }}</div>
        <div class="form-group col-md-1 del-col">

        </div>
    </div>
{% endmacro %}


{% macro lignes_sortie(article) %}
    <div class="row row-line">
        <div class="form-group col-md-3">{{ form_row(article.article,{'attr':{'class':'article'}}) }}</div>
        <div class="form-group col-md-1">{{ form_row(article.quantite,{'attr':{'class':'quantite'}}) }}</div>
        <div class="form-group col-md-3">{{ form_row(article.montant,{'attr':{'class':'montant'}}) }}</div>
        <div class="form-group col-md-3">{{ form_row(article.total,{'attr':{'class':'total'}}) }}</div>
        <div class="form-group col-md-1">{{ form_row(article.remise,{'attr':{'class':'remise'}}) }}</div>
        <div class="form-group col-md-1 del-col">

        </div>
    </div>
{% endmacro %}

{% macro ligneretourachat(article) %}
    <div class="row row-line">
        <div class="form-group col-md-6">{{ form_row(article.article) }}</div>
        <div class="form-group col-md-5">{{ form_row(article.quantiteRetournee) }}</div>
        <div class="form-group col-md-1 del-col">

        </div>
    </div>
{% endmacro %}

{% macro lignedemandeachat(article) %}
    <div class="row row-line">
        <div class="form-group col-md-5">{{ form_row(article.article) }}</div>
        <div class="form-group col-md-3">{{ form_row(article.quantite) }}</div>
        <div class="form-group col-md-3">{{ form_row(article.cout) }}</div>
        <div class="form-group col-md-1 del-col">

        </div>
    </div>
{% endmacro %}

{% macro lignedemandeachatvalidee(article) %}
    <div class="row row-line">
        <div class="form-group col-md-3">{{ form_row(article.article,{'attr':{'readonly' : true}}) }}</div>
        <div class="form-group col-md-2">{{ form_row(article.quantite,{'attr':{'readonly' : true}}) }}</div>
        <div class="form-group col-md-3">{{ form_row(article.cout,{'attr':{'readonly' : true}}) }}</div>
        <div class="form-group col-md-3">{{ form_row(article.quantiteValidee) }}</div>
        <div class="form-group col-md-1 del-col">

        </div>
    </div>
{% endmacro %}


{% macro lignedemandeachatrecu(article) %}
    <div class="row row-line">
        <div class="form-group col-md-3">{{ form_row(article.article,{'attr':{'readonly' : true}}) }}</div>
        <div class="form-group col-md-2">{{ form_row(article.quantite,{'attr':{'readonly' : true}}) }}</div>
        <div class="form-group col-md-2">{{ form_row(article.cout,{'attr':{'readonly' : true}}) }}</div>
        <div class="form-group col-md-2">{{ form_row(article.quantiteValidee,{'attr':{'readonly' : true}}) }}</div>
        <div class="form-group col-md-2">{{ form_row(article.quantiteRecue) }}</div>
        <div class="form-group col-md-1 del-col">

        </div>
    </div>
{% endmacro %}

{% macro ligneretourachatcreation(article) %}
    <div class="row row-line">
        <div class="form-group col-md-6">{{ form_row(article.article,{'attr':{'readonly' : true}}) }}</div>
        <div class="form-group col-md-5">{{ form_row(article.quantiteRecue,{'attr':{'readonly' : true}}) }}</div>
        <div class="form-group col-md-1 del-col">

        </div>
    </div>
{% endmacro %}

{% macro lignedemande(article) %}
    <div class="row row-line">
        <div class="form-group col-md-6">{{ form_row(article.article) }}</div>
        <div class="form-group col-md-5">{{ form_row(article.quantiteDemande) }}</div>
        <div class="form-group col-md-1 del-col">

        </div>
    </div>
{% endmacro %}
{% macro lignevalide(article) %}
    <div class="row row-line">
        <div class="form-group col-md-4">{{ form_row(article.article,{'attr':{'readonly' : true}}) }}</div>
        <div class="form-group col-md-3">{{ form_row(article.quantiteDemande,{'attr':{'readonly' : true}}) }}</div>
        <div class="form-group col-md-4">{{ form_row(article.quantiteValidee,{attr:{'required':'required'}}) }}</div>
        <div class="form-group col-md-1 del-col">

        </div>
    </div>
{% endmacro %}

{% macro lignerecue(article) %}
    <div class="row row-line">
        <div class="form-group col-md-3">{{ form_row(article.article,{'attr':{'readonly' : true}}) }}</div>
        <div class="form-group col-md-3">{{ form_row(article.quantiteDemande,{'attr':{'readonly' : true}}) }}</div>
        <div class="form-group col-md-2">{{ form_row(article.quantiteValidee,{'attr':{'readonly' : true}}) }}</div>
        <div class="form-group col-md-3">{{ form_row(article.quantiteRecue) }}</div>
        <div class="form-group col-md-1 ">

        </div>
    </div>
{% endmacro %}

{% macro lignecreation(article) %}
    <div class="row row-line">
        <div class="form-group col-md-6">{{ form_row(article.article,{'attr':{'readonly' : true}}) }}</div>
        <div class="form-group col-md-5">{{ form_row(article.quantiteRecue,{'attr':{'readonly' : true}}) }}</div>
        {#<div class="form-group col-md-">{{ form_row(article.quantiteRecue) }}</div>#}
        <div class="form-group col-md-1 del-col">

        </div>
    </div>
{% endmacro %}

{% macro ligneretourdemande(article) %}
    <div class="row row-line">
        <div class="form-group col-md-4">{{ form_row(article.article,{'attr':{'readonly' : true}}) }}</div>
        <div class="form-group col-md-3">{{ form_row(article.quantiteSortie,{'attr':{'readonly' : true}}) }}</div>
        <div class="form-group col-md-3">{{ form_row(article.quantiteRetournee) }}</div>
        <div class="form-group col-md-1 del-col">

        </div>
    </div>
{% endmacro %}

{% macro groupe_specialite(ligne) %}
    <div class="row-colonne mb-3 row">
        {% set lib_article = ligne.vars.value.article.designation | default('') %}
        {#{{ dump(redaction.children.path.vars.data) }}#}
        <div class="col-md-6">{{ form_widget(ligne.article) }}</div>
        <div class="col-md-5">{{ form_widget(ligne.quantite) }}</div>
        <div class="col-md-1 del-col" data-parent=".row-colonne"></div>
    </div>

{% endmacro  %}

{% macro prototype_groupe_specialite(form) %}
    <div class="list-colonne"  data-prototype="{{ _self.groupe_specialite(form.ligneEntrees.vars.prototype)|e }}"></div>
    <button type="button" data-protoname="__name__" class="btn btn-default add_line btn-xs" id="add_ligne"  data-protoclass=".list-colonne" data-container=".column-container">
        <i class="fa fa-plus"></i> Ajouter une ligne
    </button>
    <br>
    <div class="column-container" data-childclass="">
        {% for item in form.ligneEntrees %}
            {{ _self.groupe_specialite(item|e) }}
        {% endfor %}
    </div>
{% endmacro %}